
table.admin-grid {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
}

table, th, tr {
    border-bottom: 1px solid #dedede;
}

th {
    text-align: left;
    border-bottom: 1px solid #bcbcbc;
    color: black;
}

tr:nth-child(2n) {
    background-color: #fafafa;
}

table, th, td {
    padding: 5px;
}

tr:hover {
    background: #eeeeee;
}

.admin-content {
    margin: 20px 40px;
}

.admin-grid .draft {
    color: #ababab;
}

.admin-grid th a {
    color: inherit;
}

.admin-pagination {
    margin-top: 20px;
}

.admin-pagination a.page {
    padding: 5px;
    display: inline-block;
    background-color: #f3f3f3;
    border: 1px solid #03A9F4;
    border-radius: 2px;
    width: 45px;
    text-align: center;
}

a.page[disabled] {
    pointer-events: none;
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    color: #c7c7c7;
}

.page-info {
    margin: 0 20px;
    font-size: 14px;
    color: #b1b1b1;
}

.result-info {
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #b1b1b1;
}

.admin-grid-options {
    margin-bottom: 10px;
}

.admin-grid-options input[type=checkbox] {
    display: none;
}

.admin-grid-options input[type=checkbox]+label {
    display: inline-block;
    font: inherit;
    width: 50px;
    color: inherit;
    background-color: white;
    border: 1px solid gainsboro;
    text-align: center;
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
}

.admin-grid-options input[type=checkbox]+label:hover {
    background-color: #ceeaff;
    border: 1px solid #a3c4de;
    transition: 0.2s;
}

.admin-grid-options input[type=checkbox]:checked+label {
    color: white;
    background-color: #539bd4;
    border: 1px solid #539bd4;
    transition: 0.5s;
}

.compliance-issue {
    color: #FFC107;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    color: #607D8B;
}

.input-group {
    display: inline-block;
}

div.admin-content {
    padding: 20px;
}

a.save-post,
a.save-draft,
a.save-project,
a.insert-image {
    margin-top: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    float: right;
}

a.insert-image {
    font-size: 18px;
    background: #4CAF50;
    border-bottom: 4px solid #2E7D32;
}

a.save-post,
a.save-draft,
a.save-project {
    font-size: 18px;
    background: #4CAF50;
    border-bottom: 4px solid #2E7D32;
    margin-left: 20px;
}

a.save-post:hover,
a.save-draft:hover,
a.save-project:hover {
    filter: brightness(1.1);
    transition: filter 0.5s;
}

select#post-status,
select#project-status {
    display: inline;
    padding: 8px 15px;
    background: #d6d6d6;
    border: none;
    font-family: inherit;
}

#admin-nav-panel {
    background: #272727;
    padding: 8px 0;
}

#admin-nav {
    margin: 0;
    list-style: none;
}

#admin-nav li {
    padding: 0;
    display: inline;
    padding: 0 4px;
}

#admin-nav li.group-starter {
    border-left: 1px solid #656565;
    padding-left: 10px !important;
}

#admin-nav li.right-align {
    float: right;
    padding-right: 20px; 
}

#admin-nav li a {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.8;
}

#admin-nav li a:hover {
    opacity: 1;
    transition: 1s;
}

.comment.pending {
    background-color: #ecbebe;
}

table.comments-grid tr.unread {
    background-color: #FFF59D;
}

.post-feature-image.editing {
    cursor: pointer;
    margin-top: 10px;
}

.post-feature-image.editing:hover {
    filter: brightness(1.02);
    transition: filter 0.1s;
}

.editor-toolbar {
    background: white;
    border-bottom: 1px solid gainsboro;
    width: 100%;
}

.editor-toolbar a {
    padding: 10px;
    color: darkgray;
}

.editor-toolbar a:hover {
    color: white;
    background-color: gray;
    transition: 0.3s;
}

.tab-headers {
    margin-top: 10px;
}

.tab-header.selected {
    background-color: white;
    border-bottom: 1px solid white;
}

.tab-header {
    cursor: pointer;
    display: inline-block;
    padding: 8px 14px;
    border-radius: 6px 6px 0 0;
    min-width: 52px;
    text-align: center;
    font-weight: normal;
    border: 1px solid lightgray;
    background-color: #f6f6f6;
    margin-bottom: -1px;
}

.tab-edit {
    border: 1px solid #b7b7b7;
}

#editor-preview {
    border: 1px solid lightgray;
    padding: 0 5px;
}