<footer>
    <h2>Fine print</h2>
    Copyright Jay Wick 2009 - {{YEAR}}. Base theme thanks to <a href="blacktie.co">blacktie.co</a>.<br/> 
    Code is public domain unless specified otherwise. Web scraping absolutely is forbidden.<br/>
    Built with NodeJS + Express. Site source at <a href="https://github.com/jaywick/blog-xyz">Github</a>.
</footer>