<footer>
    <h2>Fine print</h2>
    Copyright Jay Wick 2009 - {{YEAR}}.<br/>
    blog-xyz is protected by GPL3. Please read and respect the license.<br/>
    Base theme thanks to blacktie.co. Built with NodeJS + Express.
</footer>