<header id="smaller-header">
    <h1 id="smaller-title"><a href="/">blog-xyz</a></h1>
    <ul id="nav">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</header>