<!DOCTYPE html>

<html>
<head>
    <title>Server Broke | blog-xyz</title>
    {{> metalinks}}
</head>
<body>
    <div class="error-page">
        <h1><span class="fa fa-fire-extinguisher"></span> Uh oh!</h1>
        <p>
            It looks like something broke on the server.
        </p>
        <p>
            You can go back to the home page <a href="/">here</a> or click back on your browser.
        </p>
    </div>
</body>
</html>

{{#if isAdmin}}
    <h4>Server Error 500</h4>
    <pre><code>{{message}}

    {{stack}}</code>
    </pre>
{{/if}}