<!DOCTYPE html>

<html>
<head>
    <title>About | blog-xyz</title>
    {{> metalinks}}
    <meta name="Description" content="blog-xyz by Jay Wick">
    <meta name="keywords" content="about,me,about me,bio">
    <meta name="author" content="your name here!">
</head>
<body>
    {{> smallheader}}

    <div class="about-page">
        <h1>Hi, I'm Jay</h1>
        <p>
            And you're using the base upon which I wrote my blog/portfolio.
            Check out the README on usage and stay tuned for updates!
            If you want to see the blog in action, go to <a href="http://jaywick.xyz"></a>
        </p>

        <h3>About the Authour</h3>
        <ul class="external-links">
            <li>
                <a href="https://github.com/jaywick"><span class="fa fa-code-fork"></span>Github</a>
            </li>
            <li>
                <a href="https://au.linkedin.com/in/jaywick">
                    <span class="fa fa-suitcase"></span>LinkedIn
                </a>
            </li>
            <li>
                <a href="https://twitter.com/jay_wick">
                    <span class="fa fa-globe"></span>Twitter
                </a>
            </li>
            <li>
                <a href="http://stackoverflow.com/users/80428/jay">
                    <span class="fa fa-stack-overflow"></span>StackOverflow
                </a>
            </li>
        </ul>

    </div>

    {{> footer}}
</body>
</html>