<!DOCTYPE html>

<html>
<head>
    <title>Portfolio | blog-xyz</title>
    {{> metalinks}}
    <meta name="Description" content="Some of my latest projects throughout the years">
    <meta name="keywords" content="portfolio,projects,designs,concepts,github,jaywick,jaywicklabs,labs,software,coding,development,hacking,programming,dotnet,csharp,typescript,javascript,nodejs,android,r&d,research and development">
    <meta name="author" content="Jay Wick">
</head>
<body>
    {{> smallheader}}

    <div class="frontpage-section frontpage-section-works">
        <h2 class="frontpage-section-header">Latest work</h2>
        <div class="frontpage-section-summary">
            Check out my projects!
        </div>

        <div class="frontpage-works">
            {{#each projects}}
            <a class="frontpage-work" href="/portfolio/{{key}}">
                <div class="frontpage-work-thumbnail" style="background-image: url('{{featureImageUrl}}')"></div>
                <div class="frontpage-work-title">{{title}}</div>
            </a>
            {{/each}}
        </div>
    </div>

    {{> footer}}
</body>
</html>